.search-results {
  padding: 80px 104px;
  background-color: #f5f6f7;
  font-family: RobotoSlab, sans-serif;
}

.search-results__heading {
  margin: 0;
  color: #1a1b22;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  padding: 0 0 64px;
}

.cards__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 16px;
}

.search-results__load-more {
  font-family: Roboto, sans-serif;
  display: block;
  max-width: 288px;
  width: 100%;
  margin: 20px auto;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  border: none;
  border-radius: 80px;
  margin: 0;
  cursor: pointer;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
}

.search-results__load-more:hover {
  background-color: #e8e8e8;
}
