.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: visibility 0s linear;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  border-radius: 20px;
  padding: 0;
  color: #1a1b22;
  font-family: Roboto, sans-serif;
}

.modal__content_type_form {
  padding: 34px 36px 28px;
}

.modal__title {
  /* margin: 0 0 24px; */
  margin: 0;
  padding: 0 0 22px;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
}

.modal__close-btn {
  position: absolute;
  top: -46px;
  right: -46px;
  padding: 0;
  height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.modal__form-container {
  display: flex;
  flex-direction: column;
  gap: 31px;
  gap: 13px;
}

.modal__label {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #2f71e5;
  font-family: Inter, sans-serif;
}

.modal__input {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 9px 0 10px;
  border: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__input:placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.modal__button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal__submit {
  background-color: #2f71e5;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 20px 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 0.6;
}

.modal__secondary {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 6px;
  font-family: Inter, sans-serif;
}

.modal__secondary-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.modal__secondary-btn {
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background: transparent;
  color: #2f71e5;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__error {
  display: block;
  min-height: 14px;
  margin-top: 4px;
  color: #ff0000;
  font-size: 12px;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.modal__error_visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 585px) {
  .modal__content {
    position: absolute;
    top: 56px;
    height: 100%;
  }
  .modal__close-btn {
    /* height: 40px; */
    top: -40px;
    right: 16px;
  }
  .modal__close-icon {
    height: 24px;
    width: 24px;
  }
}
