.card {
  font-family: RobotoSlab, sans-serif;
  width: 400px;
  height: 576px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 272px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.card__contents {
  padding: 17px 24px 24px;
}

.card__date {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: #b6bcbf;
}

.card__title {
  margin: 0;
  height: 60px;
  font-family: RobotoSlab, sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 0 0;
  color: #1a1b22;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* ⬅ controls number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  margin: 0;
  height: 110px;
  padding-top: 16px;
  color: #1a1b22;

  display: -webkit-box;
  -webkit-line-clamp: 4; /* ⬅ controls number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__source {
  margin: 0;
  color: #b6bcbf;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 16px;
}

/* .card__like-btn {
  background: url(../../images/like.svg) no-repeat;
  background-size: cover;
  padding: 0;
  align-self: center;
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  transition: opacity 0.5s;
}

.card__like-btn:hover {
  cursor: pointer;
}

.card__like-btn_liked {
  background: url(../../images/liked.svg) no-repeat;
  background-size: cover;
  padding: 0;
  align-self: center;
  width: 18px;
  height: 15px;
  transition: opacity 0.5s;
}

.card__like-btn_liked:hover {
  cursor: pointer;
} */
