.card {
  font-family: RobotoSlab, sans-serif;
  width: 400px;
  height: 576px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 100%;
  height: 272px;
  /* border: solid 1px rgba(0, 0, 0, 0.3); */
  box-sizing: border-box;
}

.card__contents {
  padding: 17px 24px 24px;
}

.card__date {
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: #b6bcbf;
}

.card__title {
  margin: 0;
  height: 60px;
  font-family: RobotoSlab, sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  padding: 12px 0 0;
  color: #1a1b22;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  margin: 0;
  height: 110px;
  padding-top: 16px;
  color: #1a1b22;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__source {
  margin: 0;
  color: #b6bcbf;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 16px;
}

.card__bookmark-btn {
  padding: 0;
  height: 40px;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.card__bookmark-icon {
  background: url("../../assets/bookmark.svg") no-repeat center #fff;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: 8px;
}

.card__bookmark-icon:hover {
  opacity: 1;
}

.card__bookmark-icon_bookmarked {
  background: url("../../assets/bookmarked.svg") no-repeat center #fff;
  opacity: 1;
}

.card__delete-btn {
  padding: 0;
  height: 40px;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-icon {
  background: url("../../assets/trash.svg") no-repeat center #fff;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: 8px;
}

.card__keyword {
  padding: 0 24px;
  margin: 0;
  border: none;
  position: absolute;
  left: 24px;
  top: 24px;
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.card__tooltip {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 11px 20px;
  border-radius: 10px;
  font-size: 12px;
  right: 69px;
  top: 24px;
  font-family: Roboto, serif;
  line-height: 1;
  font-weight: 500;
  height: 18px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card__bookmark-wrapper:hover .card__tooltip {
  opacity: 1;
}
