.saved__container {
  padding: 0 104px;
}

.saved__name {
  padding: 40px 0 0;
  margin: 0;
  color: rgba(26, 27, 34, 0.5);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.saved__heading {
  color: #1a1b22;
  margin: 0;
  padding: 24px 0 0;
  max-width: 530px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  font-family: RobotoSlab, sans-serif;
}

.saved__keywords-block {
  color: #1a1b22;
  margin: 0;
  padding: 30px 0 56px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.saved__keywords {
  font-weight: 700;
}

.saved__cards-list {
  padding: 64px 104px;
  background-color: #f5f6f7;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .saved__container {
    padding: 0 40px;
  }
  .saved__name {
    padding-top: 24px;
    font-size: 14px;
    line-height: 24px;
  }
  .saved__heading {
    padding: 16px 0 0;
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
  .saved__keywords-block {
    padding: 16px 0 32px;
  }
  .saved__cards-list {
    padding: 32px 40px;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 8px;
  }
}

@media screen and (max-width: 585px) {
  .saved__container {
    padding: 0 16px;
  }
  .saved__name {
    padding-top: 8px;
  }
  .saved__keywords-block {
    padding: 50px 0 32px;
  }
  .saved__cards-list {
    padding: 24px 16px;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 10px;
    flex-direction: column;
  }
}
