.header {
  width: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 104px 14px;
  box-sizing: border-box;
}

.header__logo {
  font-family: RobotoSlab, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.header_theme_dark {
  color: #ffffff;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.header_theme_dark .header__logo {
  color: #ffffff;
}

.header_theme_light {
  background-color: #ffffff;
  color: #1a1b22;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.header_theme_light .header__logo {
  color: #1a1b22;
}

@media screen and (max-width: 850px) {
  .header__container {
    padding: 13px 40px;
  }
}

@media screen and (max-width: 585px) {
  .header__container {
    padding: 16px;
    position: relative;
  }
  .header__logo {
    font-size: 14px;
  }
}
