.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 104px;
}

.footer__copyright {
  color: #b6bcbf;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  font-weight: 400;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__menu {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__social {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
  align-items: center;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.footer__social-icon:hover {
  opacity: 0.6;
}

.footer__social-link {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 585px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px;
    gap: 38px;
  }

  .footer__nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    order: 1;
  }

  .footer__menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer__social {
    gap: 24px;
    align-self: flex-start;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    color: #b6bcbf;
    order: 2;
  }
}
