.modal__content_type_register-success {
  padding: 43px 79px 51px 36px;
  max-width: 430;
}

.modal__title_type_register-success {
  padding: 0 0 14px;
}

.modal__button_type_signin {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #2f71e5;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
